.footer {
    background-color: lighten($color-theme-dark, 70);
    margin-top: 20px;
    &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__pdf,
    &__email {
        width: 140px;
        height: 24px;
        border: 2px solid $color-bg;
        border-radius: 15px;
        margin: 15px 0 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
                background-color: darken($color-theme-light, 10);
                border-color: darken($color-theme-light, 10);
        }
        &-link {
            font-weight: 800;
            color: $color-bg;
        }
    }
}