.header {
    text-align: center;
    padding-top: 30px;
    .header__title {
        font-family: 'Exo 2', 'Arial Narrow', sans-serif;
        font-size: 72px;
        line-height: 120%;
        font-weight: 800;
        color: $color-text;
    }
    .header__subtitle {
        font-family: 'Permanent Marker', 'Arial Narrow', sans-serif;
        font-size: 34px;
        line-height: 120%;
        font-weight: 400;
        color: $color-theme;
        margin-bottom: 50px;
    }
    .header__info {
        background-color: lighten($color-text, 70);
        &-body {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .header__contacts {
        display: flex;
        gap: 50px;
        margin: 15px 0 15px 30px;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }
    .header__email,
    .header__phone,
    .header__adress {
        position: relative;
    }
    .header__email::before,
    .header__phone::before,
    .header__adress::before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        background-image: url("../img/icon-email.png");
        background-size: 24px 24px;
        position: absolute;
        top: 1px;
        left: -30px;
    }
    .header__email::before {
        background-image: url("../img/icon-email.png");
    }
    .header__phone::before {
        background-image: url("../img/icon-phone.png");
    }
    .header__adress::before {
        background-image: url("../img/icon-map.png");
    }
}