.item {
    &__title {
        height: 40px;
        background-color: lighten($color-text, 90);
        border-radius: 20px;     
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
    }
    .title__icon {
        flex: 0 0 40px;
        background-color: $color-theme;
        border-radius: 20px;
        &-img {
            max-width: 100%;
            display: block;
        }
    }
    &__box {
        display: grid;
        row-gap: 5px;
        margin: 10px 0 20px 15px;
    }
    &__dotbox {
        grid-template-columns: auto 100px;
    }
    &__text {
        display: block;
        span {
            font-size: 80%;
            color: lighten($color: $color-text, $amount: 60);
        }
        &-bold {
            font-weight: 700;
        }
        &-small {
            font-size: 80%;
            //font-weight: bold;
            margin-bottom: 10px;
            span {
                color: lighten($color: $color-text, $amount: 60);
                font-style: italic;
            }
        }
    }
    &__level {
        display: flex; 
        gap: 5px; 
        align-items: center;
        .level__dot {
            width: 16px;
            height: 16px;
            background-color: transparent;
            border: 2px solid $color-theme;
            border-radius: 8px;
            &-color {
                background-color: $color-theme;
            }
        }
    }
    &__link {
        border-bottom: 3px dotted $color-theme;
    }
}