.social {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    &__item {
        flex: 0 0 30px;
    }
    &__icon {
        max-width: 100%;
        fill: $color-bg;
        &:hover,
        &:active,
        &:focus {
            fill: darken($color-theme-light, 10);
        }
    }
}

@media screen and (max-width: 767px) {
    .social {
        align-self: center;
        margin-bottom: 15px;
    }
}