/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo2/exo-2-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo2/exo-2-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2/exo-2-v10-latin-regular.woff2") format("woff2"), url("../fonts/exo2/exo-2-v10-latin-regular.woff") format("woff"), url("../fonts/exo2/exo-2-v10-latin-regular.ttf") format("truetype"), url("../fonts/exo2/exo-2-v10-latin-regular.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* exo-2-800 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/exo/2exo-2-v10-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo2/exo-2-v10-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2/exo-2-v10-latin-800.woff2") format("woff2"), url("../fonts/exo2/exo-2-v10-latin-800.woff") format("woff"), url("../fonts/exo2/exo-2-v10-latin-800.ttf") format("truetype"), url("../fonts/exo2/exo-2-v10-latin-800.svg#Exo2") format("svg");
  /* Legacy iOS */
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.woff2") format("woff2"), url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.woff") format("woff"), url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.ttf ") format("truetype"), url("../fonts/permanent-marker/permanent-marker-v10-latin-regular.svg#PermanentMarker") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
